<manifest package="ph.coreproc.android.hacksyon"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <application
        android:name="ph.coreproc.android.hacksyon.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.ExampleActivity"
            android:label="@string/activity_title_example"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.LoginActivity"
            android:label="@string/activity_title_login"
            android:screenOrientation="portrait"/>

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.HomeActivity"
            android:label="Home"/>

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.CandidatesActivity"
            android:label="Candidates"/>

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.CandidateDetailsActivity"
            android:label="Candidate Details"/>

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.FindMyMatchActivity"
            android:label="Find My Match"/>

        <activity
            android:name="ph.coreproc.android.hacksyon.activities.IssueCandidateMatchActivity"/>

        <activity
            android:name=".activities.ChatbotDiscussActivity"
            android:label="Juan Bot"/>

        <activity android:name=".activities.ChatbotTopicListActivity"
            android:label="Topic List"/>

        <activity android:name=".activities.ChoosePresidentActivity"
                  android:label="Choose Your President"/>

    </application>

</manifest>
